[submodule "third_party/ncmdump"]
	path = third_party/ncmdump
	url = https://github.com/taurusxin/ncmdump.git
[submodule "third_party/taglib"]
	path = third_party/taglib
	url = https://github.com/taglib/taglib.git
